asgiref==3.11.1       # ASGI-сервер, залежність Django
Django==6.0.3         # основний веб-фреймворк
sqlparse==0.5.5       # парсер SQL, залежність Django
tzdata==2025.3        # часові зони
djangorestframework==3.15.2
psycopg2-binary
python-dotenv
djangorestframework-simplejwt  # JWT автентифікація
drf-spectacular                # Swagger / OpenAPI
